#appheader {
    display: block;
    height: 40px;
    position: relative;
    margin: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

#titletext {
    margin: 0;
    padding-left: 15px;
    line-height: 30px;
    font-size: 20px;
    float: left;
    display: block;
    padding-top: 5px;
}

#content {
    height: 410px;
    border-bottom: 1px solid rgb(200, 200, 200);
    position: relative;
    width: 400px;    
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#nosessionstext {
    display: none;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    color: rgb(122, 122, 122);
}

.session--info {
    position: relative;
    height: 70px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.sessions--left--container {
    height: 70px;
    float: left;
}

.sessions--right--container {
    height: 70px;
    width: 187px;
    float: right;
    border-left: 1px solid rgb(200, 200, 200);
}

.play--session {
    width: 25px;
    height: auto;
    float: right;
    padding-right: 18px;
    cursor: pointer;
    padding-top: 22px; 
}

.add--tabs--session {
    width: 25px;
    height: auto;
    float: right;
    padding-right: 18px;
    cursor: pointer;
    padding-top: 22px; 
}

.copy--session--tabs {
    width: 25px;
    height: auto;
    float: right;
    padding-right: 18px;
    cursor: pointer;
    padding-top: 22px; 
}

.delete--session {
    width: 25px;
    height: auto;
    float: right;
    padding-right: 18px;
    cursor: pointer;
    padding-top: 22px;
}

.session--title {
    display: inline-block;
    width: 150px;
    height: 25px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 17px;
}

.session--tabcount {
    padding-left: 15px;
    font-size: 13px;   
    cursor: pointer; 
}

.tabs--container {
    position: relative;
}

.tabs--left--container {
    height: 50px;
    float: left;
}

.tab--info {
    height: 50px;
    position: relative;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.tab--title {
    padding-left: 30px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.tab--url {
    padding-left: 30px;
    padding-top: 5px;
    font-size: 12px;
}

.tabs--right--container {
    height: 50px;
    width: 102px;
    float: right;
    border-left: 1px solid rgb(200, 200, 200);
}

.copy--tab {
    width: 22px;
    height: auto;
    float: right;
    padding-right: 20px;
    cursor: pointer;
    padding-top: 14px; 
}

.delete--tab {
    width: 22px;
    height: auto;
    float: right;
    padding-right: 20px;
    cursor: pointer;
    padding-top: 14px;
}

#footer {
    height: 50px;
}

.footerbuttons {
    background-color: white;
    height: 50px;
    border: none;
    transition: 0.35s;
}

.footerbuttons:hover {  
    background: rgb(207, 207, 207);
}

.footerbuttons:active {
    transition: 0.05s;
    background: rgb(185, 185, 185);
}

#createsession {
    height: 50px;
    width: 400px;
}